@font-face {
  font-family: 'TT Lakes Neue';
  src: 
       url('fonts/TT_Lakes/TT\ Lakes\ Neue\ Trial\ Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
    font-family: 'TT Lakes Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.brands-section{
    background-color: #FAFAFA;
    border-top: 1px solid #D9FFF5;
    padding-bottom: 30px;
    /* margin-top: -15px;  */
}

.brands-title{
    /* width: 100%; */
    height: 56px;
    display: flex;
    align-items: center;
    align-items: center;
    /* line-height: 24px; */
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    /* margin-left: 20px;
    margin-bottom: 20px; */
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    /* border: 1px solid red; */
}

.brands-grid{
    padding: 30px 30px 0 30px ;
    display: grid;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    gap: 15px;
    /* margin-bottom: 20px; */
}

.swiper{
    display: none;
}

.brand{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #FFFFFF ;
    width: 240px;
    height: 72px;
    border-radius: 6px;
    border: 1px solid rgb(231, 231, 231);
}

.hidden{
    display: none; 
}

.toggle-btn{
    font-family: 'TT Lakes Neue', sans-serif;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    margin: 30px;
}

.swiper {
      width: 100%;
      height: 100%;
      background-color: #F8F8F8;
      border-top: 1px solid #D9FFF5;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgb(231, 231, 231);
      border-radius: 6px;
      margin: 30px 0 30px 20px;
      padding: 10px;
      width: 240px;
      height: 72px;
    }

    .swiper-slide img {
      display: block;
      width: auto;
    }

/* for mobile */
@media (max-width:768px) {
    .brands-section{
        display: none;
    }

    .swiper{
        display: block;
    }
    .brands-title-for-tablet{
        display: none;
    }

}
    

/* tablet view */
 @media (min-width: 768px) and (max-width: 1120px) {
    .brands-grid{
    display: block;
    padding: 30px 30px 0 30px ;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    }
    
} 

