@font-face {
  font-family: 'TT Lakes Neue';
  src: url('fonts/TT_Lakes/TT-Lakes-Neue-Regular.woff2') format('woff2'),
       url('fonts/TT_Lakes/TT-Lakes-Neue-Regular.woff') format('woff'),
       url('fonts/TT_Lakes/TT\ Lakes\ Neue\ Trial\ Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
    font-family: 'TT Lakes Neue', sans-serif;
    margin: 30px;
    padding: 0;
    box-sizing: border-box;

}

.extra-brands{
    display: none; 
}

.brands-section{
     background-color: #F8F8F8;
     padding-bottom: 30px;
}
.brands-title{
    margin: 30px 0 30px 30px;
    height: 56px;
    display: flex;
    align-items: center;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    

}

.brands-grid{
    display: none;
    padding: 30px 30px 0 30px ;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

}

.swiper{
    display: none;
}

.brand{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white ;
    width: auto;
    height: 72px
}

.toggle-btn{
    font-family: 'TT Lakes Neue', sans-serif;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    margin: 30px;
}

/* for mobile */
@media (max-width:768px) {
    .brands-section{
        display: none;
    }
    .swiper{
        display: block;
        /* padding: 30px 0 ; */
    }

}
    

/* tablet view */
 @media (min-width: 768px) and (max-width: 1120px) {
    .brands-grid{
    display: none;
    padding: 30px 30px 0 30px ;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    }
    
} 

